series (it is in 1) and dataframe (it is in 2d)

In [1]:
import pandas as pd
import numpy as np

In [4]:
#Creating series from list (series is object oriented )
data=pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [5]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [6]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
data[1]

0.5

In [8]:
data[1:3]

1    0.50
2    0.75
dtype: float64

 it may look like the Series object is basically interchangeable with a one-dimensional NumPy array. The essential difference is the presence of the index: while the Numpy Array has an implicitly defined integer index used to access the values, the Pandas Series has an explicitly defined index associated with the values.

In [15]:
data=pd.Series([0.25,0.5,0.75,1.0],
               index=['a','g','k','l'])
data

a    0.25
g    0.50
k    0.75
l    1.00
dtype: float64

In this way, you can think of a Pandas Series a bit like a specialization of a Python dictionary. A dictionary is a structure that maps arbitrary keys to a set of arbitrary values, and a Series is a structure which maps typed keys to a set of typed values. This typing is important: just as the type-specific compiled code behind a NumPy array makes it more efficient than a Python list for certain operations, the type information of a Pandas Series makes it much more efficient than Python dictionaries for certain operations.

In [16]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [18]:
population['California']

38332521

In [19]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

# constructing panda series

We've already seen a few ways of constructing a Pandas Series from scratch; all of them are some version of the following:

pd.Series(data, index=index)
where index is an optional argument, and data can be one of many entities.

For example, data can be a list or NumPy array, in which case index defaults to an integer sequence:

data-list/dictionary/scalar value

In [20]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [21]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [22]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [24]:
pd.Series({2:'a', 1:'b', 3:'c'},index=[3,2])

3    c
2    a
dtype: object

# The pandas DataFrame object

If a Series is an analog of a one-dimensional array with flexible indices, a DataFrame is an analog of a two-dimensional array with both flexible row indices and flexible column names. Just as you might think of a two-dimensional array as an ordered sequence of aligned one-dimensional columns, you can think of a DataFrame as a sequence of aligned Series objects. Here, by "aligned" we mean that they share the same index.

In [25]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995 ,'Colorado':999999,}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Colorado      999999
dtype: int64

In [31]:
states=pd.DataFrame({'population':population,'area':area})
states

            population    area
California  38332521.0  423967
Colorado           NaN  999999
Florida     19552860.0  170312
Illinois    12882135.0  149995
New York    19651127.0  141297
Texas       26448193.0  695662

In [32]:
print(states.index)

Index(['California', 'Colorado', 'Florida', 'Illinois', 'New York', 'Texas'], dtype='object')

In [33]:
print(states.columns)

Index(['population', 'area'], dtype='object')

In [34]:
print(states.shape)

(6, 2)

#creating dataframe

^single series object

^list of dicts 

^dictionary of series objects

^ 2D Numpy array

^simple list

From a single Series object

In [36]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

From a list of dicts

In [38]:
data = [{'a': i, 'b': 2 * i}
        for i in range(5)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4
3  3  6
4  4  8

From a two-dimensional NumPy array

In [40]:
pd.DataFrame(np.random.rand(3, 2),
             columns=['col1', 'col2'],
             index=['a', 'b', 'c'])

       col1      col2
a  0.603740  0.173499
b  0.175218  0.119236
c  0.605560  0.018047

In [42]:
df=pd.DataFrame([[1,2],[4,5],[7,8]],
index=['cobra','viper','sidewinder'],
columns=['max_speed','shield'])
print(df)

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [43]:
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

accesing data using list of lables using[[]],returns data frame

In [44]:
df.loc[['viper','sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [45]:
df.loc["cobra",'shield']

2

In [46]:
df.loc["cobra":'viper','max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

boolean list with the same length as the row axis

In [49]:
df.loc[[False,True,True]]

            max_speed  shield
viper               4       5
sidewinder          7       8

conditional retriveal

In [53]:
a=df.loc[df['shield']>4]
a

            max_speed  shield
viper               4       5
sidewinder          7       8

# The Pandas Index Object

In [54]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Int64Index([2, 3, 5, 7, 11], dtype='int64')

In [55]:
ind[1]

3

In [56]:
ind[::2]

Int64Index([2, 5, 11], dtype='int64')

In [57]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [58]:
ind[1] = 0 #Index does not support mutable operations

TypeError: Index does not support mutable operations

In [60]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [62]:
indA | indB  # union

C:\Users\ds27\AppData\Local\Temp\ipykernel_17784\2015131817.py:1: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead.
  indA | indB  # union

Int64Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')

In [63]:
indA ^ indB  # symmetric difference

C:\Users\ds27\AppData\Local\Temp\ipykernel_17784\1234474844.py:1: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead.
  indA ^ indB  # symmetric difference

Int64Index([1, 2, 9, 11], dtype='int64')

In [65]:
indA & indB #intersection

C:\Users\ds27\AppData\Local\Temp\ipykernel_17784\144964795.py:1: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead.
  indA & indB

Int64Index([3, 5, 7], dtype='int64')

In [66]:
indA.intersection(indB)

Int64Index([3, 5, 7], dtype='int64')