In [127]:
# Reading File
import pandas as pd
data = pd.read_csv(r"\\server\DS\ds11\226510 sem2\PYTHON NOTES\Data Sets\schedule.csv")
print(type(data))
print(data)

<class 'pandas.core.frame.DataFrame'>
   id             title       timing   genre  rating
0   1   Dog with a Blog  17:30-18:00  Comedy     4.7
1   2    Liv and Maddie  18:00-18:30  Comedy     6.3
2   3  Girl Meets World  18:30-19:00  Comedy     7.2
3   4     KC Undercover  19:00-19:30  Comedy     6.1
4   5   Austin and Ally  19:30-20:00  Comedy     6.0

# CSV FORMAT

In [128]:
# Reading rows
print(data[0:3])

   id             title       timing   genre  rating
0   1   Dog with a Blog  17:30-18:00  Comedy     4.7
1   2    Liv and Maddie  18:00-18:30  Comedy     6.3
2   3  Girl Meets World  18:30-19:00  Comedy     7.2

In [129]:
# Reading Certain Columns
print(data.loc[:,['title','rating']])

              title  rating
0   Dog with a Blog     4.7
1    Liv and Maddie     6.3
2  Girl Meets World     7.2
3     KC Undercover     6.1
4   Austin and Ally     6.0

In [130]:
# Reading certain rows and certain columns
print(data.loc[[0,1],['title','rating']])

             title  rating
0  Dog with a Blog     4.7
1   Liv and Maddie     6.3

In [131]:
data.loc[2:3]

   id             title       timing   genre  rating
2   3  Girl Meets World  18:30-19:00  Comedy     7.2
3   4     KC Undercover  19:00-19:30  Comedy     6.1

In [132]:
data.to_csv(r'Z:\226510 sem2\PYTHON NOTES\Data Sets\schedule.csv', index = False)

# JSON FORMAT

In [133]:
data1 = pd.read_json(r"Z:\226510 sem2\PYTHON NOTES\Data Sets\schedule.json")
data1

   ID             Title       Timing   Genre  Rating
0   1   Dog with a Blog  17:30-18:00  Comedy     4.7
1   2    Liv and Maddie  18:00-18:30  Comedy     6.3
2   3  Girl Meets World  18:30-19:00  Comedy     7.2
3   4     KC Undercover  19:00-19:30  Comedy     6.1
4   5   Austin and Ally  19:30-20:00  Comedy     6.0

In [134]:
# to_json
data.to_json(orient = 'records',lines = True)

'{"id":1,"title":"Dog with a Blog","timing":"17:30-18:00","genre":"Comedy","rating":4.7}\n{"id":2,"title":"Liv and Maddie","timing":"18:00-18:30","genre":"Comedy","rating":6.3}\n{"id":3,"title":"Girl Meets World","timing":"18:30-19:00","genre":"Comedy","rating":7.2}\n{"id":4,"title":"KC Undercover","timing":"19:00-19:30","genre":"Comedy","rating":6.1}\n{"id":5,"title":"Austin and Ally","timing":"19:30-20:00","genre":"Comedy","rating":6.0}\n'

In [135]:
data.to_json(orient = 'split')

'{"columns":["id","title","timing","genre","rating"],"index":[0,1,2,3,4],"data":[[1,"Dog with a Blog","17:30-18:00","Comedy",4.7],[2,"Liv and Maddie","18:00-18:30","Comedy",6.3],[3,"Girl Meets World","18:30-19:00","Comedy",7.2],[4,"KC Undercover","19:00-19:30","Comedy",6.1],[5,"Austin and Ally","19:30-20:00","Comedy",6.0]]}'

In [136]:
data.to_json(orient = 'values')

'[[1,"Dog with a Blog","17:30-18:00","Comedy",4.7],[2,"Liv and Maddie","18:00-18:30","Comedy",6.3],[3,"Girl Meets World","18:30-19:00","Comedy",7.2],[4,"KC Undercover","19:00-19:30","Comedy",6.1],[5,"Austin and Ally","19:30-20:00","Comedy",6.0]]'

# EXCEL FORMAT

In [137]:
data2 = pd.read_excel(r"Z:\226510 sem2\PYTHON NOTES\Data Sets\schedule.xlsx")
data2

   id             title       timing   genre  rating
0   1   Dog with a Blog  17:30-18:00  Comedy     4.7
1   2    Liv and Maddie  18:00-18:30  Comedy     6.3
2   3  Girl Meets World  18:30-19:00  Comedy     7.2
3   4     KC Undercover  19:00-19:30  Comedy     6.1
4   5   Austin and Ally  19:30-20:00  Comedy     6.0

In [138]:
# Reading Certain rows and columns
data2.loc[[1,3],['title','rating']]

            title  rating
1  Liv and Maddie     6.3
3   KC Undercover     6.1

In [142]:
# Reading more than 1 sheet
with pd.ExcelFile("Z:\\226510 sem2\\PYTHON NOTES\\Data Sets\\schedule.xlsx") as book:
    s1 = pd.read_excel(book,'schedule')
    s2 = pd.read_excel(book,'Sheet1')
print(s1[0:5]['title'])
type(s1)

0     Dog with a Blog
1      Liv and Maddie
2    Girl Meets World
3       KC Undercover
4     Austin and Ally
Name: title, dtype: object

pandas.core.frame.DataFrame

## Reading Excel with 'xlrd' package

In [153]:
import xlrd
book = xlrd.open_workbook("Z:\\226510 sem2\\PYTHON NOTES\\Data Sets\\titanic3.xls")
sheet = book.sheet_by_index(0)
sheet.cell_value(0,0) # Value at cell at row 0 and column 0

'pclass'

In [154]:
sheet.nrows  # Number of rows

1310

In [155]:
sheet.ncols  # Number of columns

14

In [169]:
for i in range(sheet.ncols):
    print(sheet.cell_value(0,i)) # Columns names

pclass
survived
name
sex
age
sibsp
parch
ticket
fare
cabin
embarked
boat
body
home.dest

In [152]:
sheet.row_values(1)  # First row

[1.0,
 1.0,
 'Allen, Miss. Elisabeth Walton',
 'female',
 29.0,
 0.0,
 0.0,
 24160.0,
 211.3375,
 'B5',
 'S',
 2.0,
 '',
 'St Louis, MO']

In [163]:
import 
#book = openpyxl.open_workbook("Z:\\226510 sem2\\PYTHON NOTES\\Data Sets\\schedule.xls")

ModuleNotFoundError: No module named 'shubham'

In [168]:
for i in range(sheet.nrows):
    print(sheet.cell_value(i,0))

pclass
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
1.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
2.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0
3.0

In [172]:
data2.to_excel(r'Z:\226510 sem2\PYTHON NOTES\Data Sets\schedule.csv', index = False , header =True)

ValueError: No engine for filetype: 'csv'